name: Deploy
on:
  push:
    branches: [ 'main' ]

env:
  NODE_VERSION: 18.7.0

jobs:
  checks:
    uses: ./.github/workflows/check-workflow.yml
    with:
      node-version: ${{ env.NODE_VERSION }}
    secrets: inherit
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Publish
        run: yarn publish



