name: Deploy
on:
  push:
    branches: [ 'main' ]



jobs:
  checks:
    name: Checks
    uses: ./.github/workflows/check-workflow.yml
    with:
      node-version: ${{ vars.NODE_VERSION }}
    secrets: inherit
  publish:
    name: Publish to NPM
    needs: checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.NODE_VERSION }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
      - name: Publish
        run: yarn publish



